@font-face {
  font-family: League Spartan;
  src: url("./fonts/LeagueSpartan-VariableFont_wght.woff2");
}

#root {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
