@font-face {
  font-family: League Spartan;
  src: url("./fonts/LeagueSpartan-VariableFont_wght.woff2");
}

#root {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
